{
  "env": {
    "node":true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "Promise": "readonly"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "@typescript-eslint/interface-name-prefix": ["error", "always"],

    "require-atomic-updates": 0,
    "@typescript-eslint/camelcase": 0,
    "no-useless-escape": 0
  }
}
